@import "tailwindcss";
@source "../components";

@plugin "daisyui";

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;
  --color-primary: oklch(0.546 0.245 262.881);
  --color-primary-content: oklch(1 0 0);
  --color-secondary: oklch(0.723 0.191 149.579);
  --color-secondary-content: oklch(1 0 0);
  --color-accent: oklch(0.769 0.188 70.08);
  --color-base-100: oklch(1 0 0);
  --color-base-200: oklch(0.961 0 0);
  --color-base-300: oklch(0.922 0 0);
  --color-base-content: oklch(0.21 0.006 285.885);
}

@plugin "daisyui/theme" {
  name: "dark";
  color-scheme: dark;
  --color-primary: oklch(0.546 0.245 262.881);
  --color-primary-content: oklch(1 0 0);
  --color-secondary: oklch(0.723 0.191 149.579);
  --color-secondary-content: oklch(1 0 0);
  --color-accent: oklch(0.769 0.188 70.08);
  --color-base-100: oklch(0.22 0.04 260);
  --color-base-200: oklch(0.26 0.04 260);
  --color-base-300: oklch(0.30 0.04 260);
  --color-base-content: oklch(0.93 0.01 260);
}

